.bode {
    margin: 0 0;
    padding: 0;
}

h1 {
    margin-top: 55px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 34px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 39px;
}

.main {
    max-width: 700px;
    margin: 0 auto;
}

.Main {
    font-size: 42px;
    line-height: 44px;
}

p {
    margin-top: 10px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 33px;
}

.img {
    margin-top: 43px;
    margin-bottom: 37px;
}

.code {
    font-family: "Courier New", monospace;
    background-color: gray;
}

nav {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 36px;
    background-color: #faf9f8;
    border: #c5c5c4 solid 2px;
}

.icon {
    width: 97px;
    margin: 10px auto 10px 38px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

li:hover {
    cursor: url('responsive-design/E8E9A56B-53B7-494E-BE52-747EE607EC62/5301AFFB-CEE8-43FC-8F06-FB9785DF6E4A@1x.png'), auto;
    text-decoration: underline;
}



@media (max-width: 800px) {
}
